$green-color: #62b435;
$red-color: #f64747;
$black-color: #000;
$white-color: #fff;
$blue-color: #3498db;
$dark-blue-color: #1a70aa;
$grey-color: hwb(0 91% 9% / 0.4);
$dark-grey-color: #333;
$body-color: #e1e1e1;
